{% extends 'base.html' %} {% block content %}
<div class="form">
  <form method="POST" action="{{ url_for('root') }}" id="form-main">
    <div class="label-top">
      <label for="meals"> I want </label>
    </div>
    <div class="input-and-buttons">
      <button
        type="button"
        onclick="this.parentNode.querySelector('[type=number]').stepDown();document.getElementById('form-main').submit();"
      >
        -
      </button>
      <input
        readonly
        type="number"
        min="1"
        max="14"
        step="1"
        id="meals"
        name="meals"
        value="{{ number_of_meals }}"
        required
      />
      <button
        type="button"
        onclick="this.parentNode.querySelector('[type=number]').stepUp();document.getElementById('form-main').submit();"
      >
        +
      </button>
    </div>
    <div class="label-bottom">
      <label for="number-of-meals"> meals </label>
    </div>
  </form>
</div>
<div class="response">
  <div class="table-container">
    <table>
      {% for meal in selection %}
      <tr>
        <td class="meal-name">
          <strong>{{ (meal.name|beautify_enum).title() }}</strong>
        </td>
        <td class="ingredients">
          {% for ingredient in meal.ingredients %}{{
          ingredient|beautify_enum}}{{ ", " if not loop.last else "" }}{{ endif
          }}{% endfor %}
        </td>
        <form method="POST" action="{{ url_for('root') }}" id="form-swap">
          <td class="swap">
            <input
              type="hidden"
              id="selection"
              name="selection"
              value="{{ selection }}"
              readonly
            />
            <input
              type="hidden"
              id="meal-to-swap"
              name="meal-to-swap"
              value="{{ meal }}"
              readonly
            />
            <input
              type="hidden"
              id="number-of-meals"
              name="number-of-meals"
              value="{{ number_of_meals }}"
              readonly
            />
            <button id="swap-button" type="submit">⟳</button>
          </td>
        </form>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
